.todays-workout-small-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
  width: 100%;
  max-width: 1100px;
  gap: 10px;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin: 0 0 30px 0;
  overflow-x: hidden;
  background-color: #f5f6fa;
}

.workout-title-button {
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover{
    .todays-workout-small-card__title{
      background-color: #dcdde1;
    }
  }
}

.todays-workout-small-card__title {
  display: flex;
  margin: 0 auto;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  background-color: white;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 3px;
  font-weight: 500;
  transform-style: preserve-3d;
}
.workout-title-button {
  width: auto;
  max-width: 100%;
}

.todays-workout-small-card__title-inner {
  text-overflow: ellipsis;
  overflow: hidden;
  transform: translateZ(30px);
}

.todays-workout-mini-images {
  width: 95%;
}

.todays-workout-mini__swiper {
  // background-color: white;
  // box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 8px;
  width: 100%;
  height: 140px;
}
.todays-workout-mini-swiper-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 120px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 8px;
}

.todays-workout-mini-swiper__image {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.workout-today-swiper-information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  align-items: flex-start;
  font-family: "Manrope", sans-serif;
  padding: 0 0 0 10px;
  gap: 5px;
  background-color: white;
}

.todays-workout-small-card__muscle-group{
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
}


.workout-today-mini-swiper__exercise-name {
  font-family: "Manrope", sans-serif;
  text-align: center;
  font-size: 14px;
}

.workout-today-mini-swiper__terms {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.workout-today-mini-swiper__term {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  width: 100%;
}

// .todays-workout-mini__swiper > .swiper-button-next{
// color: red;

// }
// .todays-workout-mini__swiper > .swiper-button-prev{
//   color: red;


// }

.todays-workout-mini__swiper > .swiper-pagination{
  // position: absolute;
  // text-align: center;
  // transition: .3s opacity;
  // transform: translate3d(0,0,0);
  // z-index: 10;
  // background: #FFF;
  // width: 80px !important;
  // left: 50% !important;
  // margin-left: -40px;
  border-radius: 20px;
  bottom: 0;
  // box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px 0px;
  font-size: 14px;
}


// @media (max-width: 1440px) {
//   .todays-workout-mini-swiper-container {
//     flex-direction: column;
//   }
//   .todays-workout-mini-swiper__image {
//     width: 100%;
//     height: 100px;
//     object-fit: cover;
//   }
//   .todays-workout-mini-swiper-container {
//     align-items: center;
//   }
// }

@media (max-width: 1200px) {
  .todays-workout-mini-swiper-container {
    flex-direction: row;
  }

  .todays-workout-mini-swiper__image {
    width: 50%;
    // height: 100px;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .todays-workout-mini-swiper-container {
    flex-direction: row;
  }

  .todays-workout-mini-swiper__image {
    width: 50%;
    height: 150px;
    object-fit: cover;
  }
}
@media (max-width: 500px) {
  .todays-workout-mini-swiper-container {
    flex-direction: row;
  }

  .todays-workout-mini-swiper__image {
    width: 50%;
    // height: 100px;
    object-fit: cover;
  }
  
}
