.workout-details-page {
  display: flex;
  align-items: center;
  max-width: 1100px;
  height: calc(100vh - 64px);
  margin: auto;
}

.workout-details-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  overflow-y: scroll;
  height: 95%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  width: 100%;
  border-radius: 8px;
  padding: 20px;
  gap: 40px;
  position: relative;
  word-wrap: break-word;
  word-break: break-all;
}

.workout-details__title {
  margin: 0 auto;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 3px;
  font-weight: 500;
  transform-style: preserve-3d;
  width: fit-content;
  max-width: 800px;
}

.workout-details-title-inner {
  transform: translateZ(60px);
  width: 100%;
  padding: 0 10px;
}

.workout-details__back-button {
  display: flex;
  width: 64px;
  height: 64px;
  padding: 0 !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border: none;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  cursor: pointer;
  border-radius: 50% !important;
  position: fixed !important;
  z-index: 5;
}

.workout-details-images {
  width: 80%;
  margin: 0 auto;
}

.workout-details-muscle-group {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 22px;
}

.workout-details__swiper {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 8px;
  width: 80%;
  // padding: 0 0 30px 0 ;
  padding: 0 0 30px 0 ;
}

.workout-details-swiper-container {
  display: flex;
  flex-direction: row !important;
  // padding: 10px 40px 30px;
  // outline: 1px solid black ;
  height: 250px;
  width: 80%;
  max-width: 250px;
  flex-direction: column !important;
  // padding: 0 0 30px 0 ;
  margin: 0 10px 0 0;
}

.swiper-pagination{
  position: absolute;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0,0,0);
  z-index: 10;
  background: #FFF;
  width: 80px !important;
  left: 50% !important;
  margin-left: -40px;
  border-radius: 20px;
  // box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px 0px;
  // font-size: 20px;
}

.workout-details-swiper__image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.workout-details-swiper-information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  align-items: flex-start;
  font-family: "Manrope", sans-serif;
  gap: 5px;
  padding: 5px 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  // border-radius: 16px;
  border-bottom-left-radius:16px ;
  border-bottom-right-radius:16px ;
}

.workout-details-swiper__exercise-name {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  text-align: start;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}

.workout-details-swiper__terms {
  display: flex;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  gap: 1px;
}

.workout-details-swiper__term {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.workout-actions-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.workout-details__created {
  margin: 0 0 0 auto;
  color: #555;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

.workout-details__creator {
  color: black;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
}

.workout-save-button {
  font-size: 17px !important;

  display: flex !important;
  justify-content: center !important ;
  align-items: center !important;
  margin: auto 0 0 !important;
  background-color: #4caf50 !important;
  color: white !important;
}

.workout-save-button:hover {
  background-color: #43a047 !important;
}

@media (max-width: 1100px) {
  .workout-details__title {
    font-size: 16px;
    margin: 74px auto 0;
  }
}

@media (max-width: 768px) {
  .workout-details__back-button {
    width: 64px;
    height: 64px;
  }
  .workout-details__title {
    margin: 74px auto 0;
    font-size: 16px;
  }

  .workout-actions-container {
    width: 100%;
  }

  .workout-details-images {
    width: 100%;
  }
  .workout-details-swiper__image {
    height: 150px;
  }

  .workout-details-container {
    padding: 10px 20px;
  }

  .workout-details-title-inner {
    width: 100%;
    margin: auto;
    font-size: 28px;
  }
}

@media (max-width: 500px) {
  .workout-details-title-inner {
    font-size: 24px;
  }

  .workout-details__swiper {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 8px;
    width: 100%;
    // padding: 0 0 30px 0 ;
  
  }

  .workout-details-swiper-container {
    flex-direction: column !important;
    width: 80%;
    // padding: 0 0 30px 0 ;
  }

  .workout-details-swiper__image {
    width: 100%;
    height: 150px;
  }

  .workout-details-swiper-information {
    width: 100%;
  }
  .workout-details-swiper__terms {
    gap: 1px;
  }

  .workout-details-swiper__exercise-name {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    text-align: start;
  }

  .swiper-pagination{
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
    background: #FFF;
    width: 80px !important;
    left: 50% !important;
    margin-left: -40px;
    border-radius: 20px;
 
    // box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    // margin: 5px auto;
    // font-size: 20px;
  }

}

.workout-details-container::-webkit-scrollbar {
  width: 10px;
  border-radius: 30px;
}
.workout-details-container::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

.workout-details-container::-webkit-scrollbar-thumb {
  background-color: #888;

  border-radius: 48px;
}

.workout-details-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
