.exercise-details-page {
  display: flex;
  align-items: center;
  max-width: 1100px;
  height: calc(100vh - 64px);
  margin: auto;
}

.exercise-details-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  overflow-y: scroll;
  height: 95%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  width: 100%;
  border-radius: 8px;
  padding: 20px;
  gap: 40px;
  position: relative;
  overflow-x: hidden;
}

.exercise-details__back-button {
  display: flex;
  width: 64px;
  height: 64px;
  padding: 0 !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border: none;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  cursor: pointer;
  border-radius: 50% !important;
  position: absolute !important;
}

.exercise-details__title {
  margin: 0 auto;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 3px;
  font-weight: 500;
  transform-style: preserve-3d;
  padding: 0 20px;
}

.title-inner {
  transform: translateZ(60px);
}
.exercise-details__difficulty {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 80%;
  margin: 0 auto;
}
.exercise-details__difficulty-prompt {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}
.exercise-details__difficulty-value {
  font-family: "Manrope", sans-serif;
  padding: 3px 10px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 12px;
  color: white;
}
.exercise-details-img-container {
  display: flex;
  margin: 0 auto;
  // justify-content: space-evenly;
  justify-content: space-between;
  width: 80%;
  height: 280px;
  align-items: center;
  background-color: white;
  border-radius: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  // transform-style: preserve-3d;
}

.exercise-details__img {
  width: 400px;
  max-width: 40%;
  // height: 250px;
  height: 280px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  transform: translateZ(10px);
  cursor: pointer;
}

.exercise-details__img--first{
border-top-left-radius: 16px;
border-bottom-left-radius: 16px;
}

.exercise-details__img--second {
 border-top-right-radius:16px ;
 border-bottom-right-radius:16px ;
}

.exercise-details__img:hover {
  outline: 1px solid black;
}

.guide-steps-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  width: 80%;
  gap: 30px;
}

.guide-step-container {
  display: flex;
  gap: 20px;

  max-width: fit-content;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
  border-radius: 16px;

  transition: all 0.3s ease;
  height: fit-content;
  align-items: center;
}

.guide-step-container:hover {
  transform: scale(1.05);
}

.guide-step__number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
  font-size: 26px;
}
.guide-step__text {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.dialog__img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1100px) {
  .exercise-details__title {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .next-icon {
    transform: rotate(90deg);
  }
  .exercise-details-img-container {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .exercise-details__img {
    max-width: 100%;
    width: 100%;
  }

  .guide-steps-container {

    width: 100%;

  }

  .exercise-details__back-button {
    width: 64px;
    height: 64px;
  }
  .exercise-details__title {
    // margin: 74px auto 0;
    font-size: 18px;
  }

  .exercise-details__difficulty{
    width: 100%;
  }

  .exercise-details__img--first{
    border-top-right-radius:16px ;
    border-top-left-radius:16px ;
    border-bottom-left-radius: 0;
    }
    
    .exercise-details__img--second {
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      border-top-right-radius: 0;
    }

}

@media (max-width: 420px) {
  .exercise-details__img {
    max-width: 400px;
    width: 100%;
    height: 200px;
  }

  .exercise-details__title {
    // margin: 74px auto 0;
    font-size: 14px;
  }
}

@media (max-width: 370px) {
  .exercise-details__difficulty-prompt {
    font-size: 14px;
  }

  .exercise-details__difficulty-value {
    font-size: 14px;
  }
}

.exercise-details-container::-webkit-scrollbar {
  width: 10px;
  border-radius: 30px;
}
.exercise-details-container::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

.exercise-details-container::-webkit-scrollbar-thumb {
  background-color: #888;

  border-radius: 48px;
}

.exercise-details-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
